#actualize{
    position:fixed;
    z-index: 10000;
    width:400px;
    height:700px;
    margin-left: 40%;
    margin-right:40%;
    
    
    display:none; 
    
}
.actualizePrice{
    border: 1px solid black;
    background:ghostwhite;
    text-align: center;
        padding-bottom: 30px;
}
   
#fon{

    position: fixed;
    z-index:500;
    width: 100%;
    height: 100%;
    background-color: #2125298a;
}